/*
 * 主样式文件
 */
@import 'tailwindcss';
@import '@nuxt/ui';
@import './utils.less';
@import './theme.css';

@source '../../../node_modules/.c12/';

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/notosanssc/v40/k3kXo84MPvpLmixcA63oeALhLOCT-xWNm8Hqd37g1OkDRZe7lR4sg1IzSy-MNbE9VH8V.4.woff2')
    format('woff2');
}

html {
  scroll-behavior: smooth;
  font-size: 16px;

  @supports (-webkit-appearance: none) {
    /* 滚动条整体 */
    ::-webkit-scrollbar {
      border-radius: 4px; /* 轨道圆角 */
      width: 8px; /* 垂直滚动条宽度 */
      height: 8px; /* 水平滚动条高度 */
      background: var(--color-gray-50); /* 轨道背景色 */
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
      border-radius: 4px; /* 滑块圆角 */
      background: var(--color-slate-300); /* 滑块颜色 */
    }

    /* 轨道 */
    ::-webkit-scrollbar-track {
      border-radius: 4px;
      background: transparent; /* 轨道背景 */
    }
  }

  @supports not (-webkit-appearance: none) {
    html {
      scrollbar-color: var(--color-slate-300) transparent;
      scrollbar-width: thin;
    }
  }
}

body {
  background: #f5f7fa;
}

:root {
  --ui-container: 1320px;
}

@media (width <= 768px) {
  html {
    font-size: 14px;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(24px);
  animation: fadeup 0.6s ease forwards;
}

@keyframes fadeup {
  to {
    opacity: 1;
    transform: none;
  }
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.35s;
}

/* no lint */
@keyframes floatPulse {
  0%,
  100% {
    box-shadow: 0 4px 20px rgb(16 80 208 / 45%);
  }

  50% {
    box-shadow: 0 4px 32px rgb(18 183 245 / 70%);
  }
}
