@layer components {
  .link {
    color: var(--ui-text-toned) !important;
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
      text-underline-offset: 2px;
    }
  }
}
